<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>


<body>
	<!-- Header y HeaderLogueado-->
	<% if(locals.user) { %>
		<%- include('./partials/HeaderLogueado') %> 

	<% } else { %>
		<%- include('./partials/header') %> 
	<% } %>
	
	<!-- /Header y HeaderLogueado -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
					<form class="formulario" action="/users/ingresar" method="POST">
						<p>
							<label class= "campo login" for="usuarioL">Email:</label>
							<input class= "ingresar" type="text" name="email" id="email">
						</p>
						<p>
							<label class= "campo login" for="contraseniaL">Contraseña:</label>
							<input type="password" name="contrasenia" id="contrasenia">
						</p>
						<p>
							<input type="checkbox" class="form-check-input" id="recordarme" name="recordarme">
                    		<label class="form-check-label" for="recordarme">Recordarme</label>
						</p>
						<p class="boton-enviar link">
							<input class= "enviar" type="submit" value="Enviar">
						</p>
					</form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>