<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>


<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form class="formulario perfil" action='/users/profile' method="GET">
					<p>
						<label class= "campo perfil" for="nombre-apellido">Nombre:</label>
						<input class= "ingresar" type="text" name="nombre-apellido" id="nombre-apellido">
					</p>
					<p>
						<label class= "campo perfil" for="fecha-de-nacimiento">Imagen:</label>
						<input class= "ingresar" type="text" name="fecha-de-nacimiento" id="fecha-de-nacimiento" value="Seleccionar archivo">
					</p>
					<p>
						<label class= "campo perfil" for="usuario">ID:</label>
						<input class= "ingresar" type="text" name="usuario" id="usuario">
					</p>
					<p>
						<label class= "campo perfil" for="usuario">Precio:</label>
						<input class= "ingresar" type="text" name="usuario" id="usuario">
					</p>
					<p>
					<p class="boton-enviar"> 
						<input class="link enviar" type="submit" value="Enviar">
					</p>
				</form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>