<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>


<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form class="formulario perfil" action='/products/store' method="GET">
					<p>
						<label class= "campo perfil" for="nombre-producto">Nombre:</label>
						<input class= "ingresar" type="text" name="nombre-producto" id="nombre-producto">
					</p>
					<p>
						<label class= "campo perfil" for="imagen-producto">Imagen:</label>
						<input class= "ingresar" type="text" name="imagen-producto" id="imagen-producto" value="Seleccionar archivo">
					</p>
					<p>
						<label class= "campo perfil" for="usuario">Usuario que lo cargó:</label>
						<input class= "ingresar" type="text" name="usuario" id="usuario">
					</p>
					<p>
						<label class= "campo perfil" for="fecha-creacion-producto">Fecha de creación:</label>
						<input class= "ingresar" type="date" name="fecha-creacion-producto" id="fecha-creacion-producto">
					</p>
					<p>
						<label class= "campo perfil" for="precio">Precio:</label>
						<input class= "ingresar" type="number" name="precio" id="precio">
					</p>
					<p>
					<p class="boton-enviar"> 
						<input class="link enviar" type="submit" value="Enviar">
					</p>
				</form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>