<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>


<body>
	<!-- Header y HeaderLogueado-->
	<% if(locals.user) { %>
		<%- include('./partials/HeaderLogueado') %> 

	<% } else { %>
		<%- include('./partials/header') %> 
	<% } %>
	
	<!-- /Header y HeaderLogueado -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar producto</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form class="formulario perfil" action='/products/updateStore' method="POST" enctype="multipart/form-data">
					<p>
						<label class= "campo perfil" for="nombre-producto">Nombre:</label>
						<input class= "ingresar" type="text" name="nombre" id="nombre-producto">
					</p>
					<p>
						<label class= "campo perfil" for="imagen-producto">Imagen:</label>
						<input class= "ingresar" type="file" name="imagen" id="imagen-producto">
					</p>
					<p>
						<label class= "campo perfil" for="fecha-creacion-producto">Fecha de creación:</label>
						<input class= "ingresar" type="date" name="fechaCreacion" id="fecha-creacion-producto">
					</p>
					<p>
						<label class= "campo perfil" for="precio">Precio:</label>
						<input class= "ingresar" type="number" name="precio" id="precio">
					</p>
					<p>
						<label class= "campo perfil" for="descripcion">Descripción:</label>
						<input class= "ingresar" type="text" name="descripcion" id="descripcion">
                    </p>
					<p>
					<p class="boton-enviar"> 
						<input class="link enviar" type="submit" value="Enviar">
					</p>
				</form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>