<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="/images/users/userIcon.png" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"> Juan Pérez 
						<a href="/users/profile-edit">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4 link" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li>6 productos</li>
						<li>173 seguidores</li>
						<li>892 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products/detail/6">
						<figure class="product-box_image">
							<img src="/images/products/auriculares.jpeg" alt="auriculares">
						</figure>
						<article class="product-box_data">
							<h2>Samsung Galaxy Buds Live</h2>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products/detail/5">
						<figure class="product-box_image">
							<img src="/images/products/iphone-xs.jpeg" alt="iphone-xs">
						</figure>
						<article class="product-box_data">
							<h2>IPhone XS</h2>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products/detail/1">
						<figure class="product-box_image">
							<img src="/images/products/img-macbook-pro-2019.jpg" alt="macbook">
						</figure>
						<article class="product-box_data">
							<h2>MacBook Pro 2019</h2>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products/detail/7">
						<figure class="product-box_image">
							<img src="/images/products/camara.jpeg" alt="camara">
						</figure>
						<article class="product-box_data">
							<h2>Canon EOS Rebel T100</h2>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Mis productos -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>	
</html>