<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header y HeaderLogueado-->
	<% if(locals.user) { %>
		<%- include('./partials/HeaderLogueado') %> 

	<% } else { %>
		<%- include('./partials/header') %> 
	<% } %>
	
	<!-- /Header y HeaderLogueado -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form class="formulario perfil" action='/users/profile' method="GET">
					<p>
						<label class= "campo perfil" for="img">Editar imagen:</label>
						<div class="img-container offset-3 col-2">
							<img src="/images/users/userIcon.png" alt="foto de perfil" class="foto-perfil">
						</div>
					</p>
					<p>
						<label class= "campo perfil" for="nombre-apellido">Nombre y apellido:</label>
						<input class= "ingresar" type="text" name="nombre-apellido" id="nombre-apellido" value="Juan Pérez" disabled>
					</p>
					<p>
						<label class= "campo perfil" for="fecha-de-nacimiento">Fecha de nacimiento:</label>
						<input class= "ingresar" type="text" name="fecha-de-nacimiento" id="fecha-de-nacimiento" value="10/01/2000" disabled>
					</p>
					<p>
						<label class= "campo perfil" for="usuario">Nombre de usuario:</label>
						<input class= "ingresar" type="text" name="usuario" id="usuario" value="jperez" disabled>
					</p>
					<p>
						<label class= "campo perfil" for="contrasenia">Contraseña:</label>
						<input class= "ingresar" type="password" name="contrasenia" id="contrasenia" required>
					</p>
					<p>
						<label class= "campo perfil" for="contrasenia">Nueva contraseña:</label>
						<input class= "ingresar" type="text" name="nContrasenia" id="nContrasenia">
					</p>
					<p>
						<label class= "campo perfil" for="contrasenia">Confirmar nueva contraseña:</label>
						<input class= "ingresar" type="password" name="nContrasenia" id="nContrasenia">
					</p>
					<p class="boton-enviar"> 
						<input class="link enviar" type="submit" value="Enviar">
					</p>
				</form>
			</h2>
		</div>
	</div>
	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>