<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>


<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<!-- <i>///////////////////////////////////////// <br> Acá va el formulario de registro. <br>
			Debe cumplir con los puntos de la consigna y ser coherente con la tabla de la base de datos <br>
			Eliminen estás líneas y coloquen el formulario. <br>
			Recuerden todo lo que necesita tanto la etiqueta form como los campos input para operar correctamtente</i> <br>
			//////////////// -->
					<form action='/users/register' method="GET">
						<p>
							<label for="nombre-apellido">Nombre y apellido:</label>
							<input type="text" name="nombre-apellido" id="nombre-apellido">
						</p>
						<p>
							<label for="fecha-de-nacimiento">Fecha de nacimiento:</label>
							<input type="date" name="fecha-de-nacimiento" id="fecha-de-nacimiento">
						</p>
						<p>
							<label for="usuario">Usuario:</label>
							<input type="text" name="usuario" id="usuario">
						</p>
						<p>
							<label for="contrasenia">Contrasenã:</label>
							<input type="password" name="contrasenia" id="contrasenia">
						</p>
						<p>
							<input type="submit" value="Enviar">
						</p>
					</form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>