<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>


<body>
	<!-- Header y HeaderLogueado-->
	<% if(locals.user) { %>
		<%- include('./partials/HeaderLogueado') %> 

	<% } else { %>
		<%- include('./partials/header') %> 
	<% } %>
	
	<!-- /Header y HeaderLogueado -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
					<form class="formulario" action='/users/store' method="POST">
						<p>
							<label class= "campo" for="nombre-apellido">Nombre y apellido:</label>
							<input class= "ingresar" type="text" name="nombreApellido" id="nombre-apellido">
						</p>
						<p>
							<label class= "campo" for="fecha-de-nacimiento">Fecha de nacimiento:</label>
							<input type="date" name="fechaDeNacimiento" id="fecha-de-nacimiento">
						</p>
						<p>
							<label class= "campo" for="usuario">Usuario:</label>
							<input class= "ingresar" type="text" name="usuario" id="usuario">
						</p>
						<p>
							<label class= "campo" for="email">Email:</label>
							<input class= "ingresar" type="email" name="email" id="email">
						</p>
						<p>
							<label class= "campo" for="contrasenia">Contrasenã:</label>
							<input type="password" name="contrasenia" id="contrasenia">
						</p>
						<p class="boton-enviar">
							<input class= "enviar link" type="submit" value="Enviar">
						</p>
					</form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>