<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header y HeaderLogueado-->
	<% if(locals.user) { %>
		<%- include('./partials/HeaderLogueado') %> 

	<% } else { %>
		<%- include('./partials/header') %> 
	<% } %>
	
	<!-- /Header y HeaderLogueado -->
	

    <section class="errores">
        <h2 class="products-title" >Usuario o clave inválida</h2>
	</section>  
	
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>


	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>	
</html>